<div class="container my-5">
    <h1 class="mb-3">Create New Deck</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addDeck()">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title" [(ngModel)] = "addDeckRequest.title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description" [(ngModel)] = "addDeckRequest.description">
                  </div>
                <button type="submit" class="btn btn-primary">Create Deck</button>
              </form>
        </div>
    </div>
</div>
