#cardGrid {
    margin: auto;
    max-width: 60%;
}

#deckCard {
    max-width: 275px;
    height: 250px;
}

#cardBackground {
    background: rgba(13, 110, 253, 0.1);
}

#editCardBtn {
    margin-right: 1%;
}

