<div class="container my-5">
    <h1 class="mb-3">Edit Card</h1>
        <form #form="ngForm" (ngSubmit)="updateCard()">
            <div class="mb-3">
              <label for="term" class="form-label">Term</label>
              <input type="text" class="form-control" id="term" name="term" [(ngModel)] = "cardDetails.term">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" [(ngModel)] = "cardDetails.description">
            </div>
            <div class="mb-3">
                <label class="form-label" for="important">Important</label>
                <select class="form-select" id="important" type="boolean" name="important" [(ngModel)] = "cardDetails.important">
                  <option selected>Choose...</option>
                  <option [ngValue]=false>False</option>
                  <option [ngValue]=true>True</option>
                </select>
              </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-danger" (click)="deleteCard(cardDetails.id)">Delete</button>
          </form>
</div>
