.container {
    margin: auto;
    max-width: 50%;
}

#deckDiv {
    margin: auto;
}

#deckTitleDiv {
    margin: auto;
}

#addDeckBtn {
    margin: auto;
}

#editDeckBtn {
    margin-right: 5px;
}

#studyDeckBtn {
    float: right;
}

#deckCardBackground {
    background: rgba(13, 110, 253, 0.1);
}