<div class="container">
  <h1 id="deckTitleDiv" class="my-3">Decks</h1>
  <a id="addDeckBtn" [routerLink]="['/decks', 'add']" class="btn btn-primary btn-lg mb-3">Add Deck</a>
  <div *ngFor="let deck of decks">
    <div class="card mb-3" id="deckDiv">
      <div class="card-header bg-primary text-white">
        Deck Id: {{ deck.id }}
        <a id="studyDeckBtn" [routerLink]="['/cards', 'study', deck.id]" class="btn btn-light">Study Deck</a>
      </div>
      <div id="deckCardBackground" class="card-body">
        <h5 class="card-title">{{ deck.title }}</h5>
        <p class="card-text">{{ deck.description }}</p>
        <a id="editDeckBtn" [routerLink]="['/decks', 'edit', deck.id]" class="btn btn-primary">Edit</a>
        <a [routerLink]="['/decks', deck.id]" class="btn btn-primary">Cards</a>
      </div>
    </div>
  </div>
</div>