<div class="container my-5">
    <h1 class="mb-3">Create New Card</h1>
        <form #form="ngForm" (ngSubmit)="addCardCategory()">
            <div class="mb-3">
                <label for="CardId" class="form-label">Card Id</label>
                <input type="number" class="form-control" id="CardId" name="CardId" [(ngModel)] = "cardId">
            </div>
            <div class="mb-3">
                <label for="categoryId" class="form-label">Category Id</label>
                <input type="number" class="form-control" id="categoryId" name="categoryId" [(ngModel)] = "categoryId">
            </div>

            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
</div>
