.container {
    margin: auto;
    max-width: 50%;
}

#deckTitleDiv {
    width: 800px;
    max-width: 80%;
}

#deleteCategoryBtn {
    float: right;
}

#editDeckBtn {
    margin-right: 5px;
}

#deckCardBackground {
    background: rgba(13, 110, 253, 0.1);
}