#deckDiv {
    width: 800px;
    max-width: 80%;
    margin-left: 10%;
}

#deckTitleDiv {
    width: 800px;
    max-width: 80%;
    margin-left: 10%;
}

#deleteCategoryBtn {
    float: right;
}

#editDeckBtn {
    margin-right: 5px;
}

#deckCardBackground {
    background: rgba(13, 110, 253, 0.1);
}