<div id="cardGrid">
    <h1 class="my-3">Cards</h1>
    <a id="addDeckBtn" (click)="nextItem()" class="btn btn-primary btn-lg mb-3">Next Card</a>
        <div id="deckCard" class="card">
          <h5 id="cardHeader" class="card-header bg-primary text-white">Card: {{currentIndex}}/{{cards.length - 1}}</h5>
          <div id="cardBackground" class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary" *ngIf="currentCard.important == true">Important</h6>
            <h5 class="card-text">{{ currentCard.description }}</h5>
          </div>
        </div>
</div>
