#cardBackground {
    background: rgba(13, 110, 253, 0.1);
}

.container {
    margin: auto;
    max-width: 50%;
    margin-top: 5%;
}

.card-header {
    
}

#card-body {
    margin: auto;
    height: 400px;
    width: 500px;
}

#card-text {
    margin-top: 20%;
}

#controlContainer {
    margin: auto;
    width: 160px;
}

#cardHeader {

}

#btnContainer {
    margin-left: 0px;
    background: rgba(13, 110, 253, 0.1);
    width: 398.5px;
}

#nextCardBtn {
    width: 50px;
    display: inline-block;
}

#cardCounter {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

#prevCardBtn {
    width: 50px;
    display: inline-block;
}

#flipCardBtn {
    width: 100px;
}