#cardGrid {
    margin-left: 16%;
    margin-bottom: 10%;
}

#deckCard {
    width: 300px;
    height: 500px;
}

#cardBackground {
    background: rgba(13, 110, 253, 0.1);
}

#cardHeader {
    text-align: right;
    display: inline-block;
}

#nextCardBtn {
    width:100px;
    height: 500px;
}
