#cardGrid {
    margin-left: 16%;
    margin-bottom: 10%;
}

#deckCard {
    width: 400px;
    height: 500px;
}

#cardBackground {
    background: rgba(13, 110, 253, 0.1);
}

#cardHeader {
    text-align: right;
    display: inline-block;
}

#btnContainer {
    margin-left: 0px;
    background: rgba(13, 110, 253, 0.1);
    width: 398.5px;
}

#nextCardBtn {
    width: 100px;
}

#prevCardBtn {
    width: 100px;
}

#flipCardBtn {
    width: 100px;
}